<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.broadcastreceiver">


    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BR1Manifest.BroadcastReceiver1" />
        <!-- register broadcastreceiver in manifest -->
        <receiver android:name=".BR1Manifest.MyBroadCastReceiver1">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />


            </intent-filter>
        </receiver>


        <activity android:name=".BR2Java.BroadCastReceiver2" />
        <receiver android:name=".BR2Java.MyBroadCastReceiver2" />


        <activity android:name=".BR3CustomIntent.BroadCastReceiver3" />


        <receiver
            android:name=".BR3CustomIntent.MyBroadCastRecceiver3"
            android:exported="true">
            <intent-filter>
                <action android:name="my.custom.action.tag.fordemo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".BR4LocalBroadCastManager.BroadCastReceiver4" />

        <receiver
            android:name=".BR4LocalBroadCastManager.MyBroadCastReceiver4"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".BR5OrderedBroadCastReceiver.BroadCastReceiver5" />

        <receiver

            android:name=".BR5OrderedBroadCastReceiver.MyBroadCastReceiver5"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="com.br1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BR5OrderedBroadCastReceiver.MyBroadCastReceiver6"
            android:enabled="true"
            android:exported="true">

            <intent-filter android:priority="2">
                <action android:name="com.br1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>